<div class="panel-group col-xs-8" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          A Empresa
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        A ISPSP é uma integradora de soluções em tecnologia da informação e comunicação, focada na redução de custos, aplicações envolvendo mobilidade e aumento de produtividade dos seus clientes. Serviços e produtos para pequenas, médias empresas e grandes corporações com um abrangente portfólio de soluções de TI e Telecom, composto por software, hardware, projetos e execução de infraestrutura (civil, elétrica e cabling (dados, voz e vídeo), CFTV, Wireless, Controle de Acesso, Cartão eletrônico de Pontos e desenvolvimento de soluções. Equipe totalmente capacitada e orientada para ofertar as tecnologias emergentes de novas soluções. Investimentos constantementes no desenvolvimento da sua equipe técnica e comercial através de cursos, treinamentos e certificações nos próprios fabricantes.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Consultoria
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h3>Consultoria em TI e TeleCom</h3>
        <p>
          A ISPSP tem à disposição da sua empresa os mais capacitados e experientes consultores de produto, analistas de sistemas e administradores de redes e analistas de sistemas especialmente treinados para o ambiente Linux. São profissionais treinando e dando todo o suporte e assistência necessários. Tudo para garantir total estabilidade aos Sistemas ISPSP e toda tranquilidade aos usuários.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Produtos
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <ul class="list-group">
        <li class="list-group-item">Tarifador de Ramais</li>
        <li class="list-group-item">VoIP</li>
        <li class="list-group-item">IPBX</li>
        <li class="list-group-item">Thin Client</li>
        <li class="list-group-item">Automatos</li>
        <li class="list-group-item">Discador e Gravador</li>
        <li class="list-group-item">Servidores Linux</li>
        <li class="list-group-item">Hospedagem Internet</li>
        <li class="list-group-item">Cabling</li>
        <li class="list-group-item">Switch</li>
        <li class="list-group-item">Wireless</li>
        <li class="list-group-item">Wireless Outdoor</li>
        <li class="list-group-item">CFTV</li>
        <li class="list-group-item">Controle de Acesso</li>
        <li class="list-group-item">Cartão de Ponto Eletrônico</li>
        <li class="list-group-item">Controle de Ambiente CPD ou DataCenter</li>
        <li class="list-group-item">Piso Elevado</li>
        <li class="list-group-item">No-Break</li>
        <li class="list-group-item">Ar-Condicionado</li>
        <li class="list-group-item">Anti-vírus</li>
        <li class="list-group-item">Acesso Remoto</li>
        <li class="list-group-item">Segurança</li>
        <li class="list-group-item">Análise de Rede</li>
        <li class="list-group-item">Outsourcing de Impressão</li>
        <li class="list-group-item">NAS / Storage</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Parceiros
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <ul class="list-group">
        <li class="list-group-item">TI</li>
        <li class="list-group-item">Telecom</li>
        <li class="list-group-item">Automação Comercial</li>
        <li class="list-group-item">Data Center e Internet</li>
      </ul>
    </div>
  </div>
</div>
