<div class="col-xs-8">
  <h2 style="padding-top:.5em;padding-left:3.3em;">A Empresa</h2>
  <p style="padding-top:2.2em;padding-left:6em;">
    A ISPSP é uma integradora de soluções em tecnologia da informação e comunicação, focada na redução de custos, aplicações envolvendo mobilidade e aumento de produtividade dos seus clientes. Serviços e produtos para pequenas, médias empresas e grandes corporações com um abrangente portfólio de soluções de TI e Telecom, composto por software, hardware, projetos e execução de infraestrutura (civil, elétrica e cabling (dados, voz e vídeo), CFTV, Wireless, Controle de Acesso, Cartão eletrônico de Pontos e desenvolvimento de soluções. Equipe totalmente capacitada e orientada para ofertar as tecnologias emergentes de novas soluções. Investimentos constantementes no desenvolvimento da sua equipe técnica e comercial através de cursos, treinamentos e certificações nos próprios fabricantes.
  </p>
</div>

<div class="col-xs-3">
  <div class="panel panel-default" style="margin-top:3em;" ng-hide="userLogged">
    <div class="panel-heading">
        {{'LOGIN_TITLE' | translate}}
        <button style="margin-top:-.4em;" class="btn btn-sm btn-default pull-right" ng-click="changeLang()">{{'CHANGE_TO' | translate}}</button>
    </div>
    <div class="panel-body">
      <label for="username">{{'EMAIL' | translate}}</label>
      <input type="text" class="form-control" placeholder="{{'EMAIL_PLACEHOLDER' | translate}}" ng-model="user.email" />
      <label for="password" style="margin-top:1em;">{{'PASSWORD' | translate}}</label>
      <input type="password" class="form-control" placeholder="{{'PASSWORD_PLACEHOLDER' | translate}}" ng-model="user.password" />
      <button
        type="button"
        class="btn btn-lg btn-primary pull-right col-xs-12"
        style="margin-top:1em;"
        ng-click="signIn(user)">{{'LOGIN_TITLE' | translate}}</button>
    </div>
  </div>
</div>
