<nav class="navbar navbar-default navbar-fixed-top" ng-controller="menu">
  <div class="container" style="margin-right:18em;">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{'HOME' | translate}}</a></li>
        <li><a href="#">{{'CONSULTING' | translate}}</a></li>
        <li><a href="#">{{'PRODUCTS' | translate}}</a></li>
        <li><a href="#">{{'PARTNERS' | translate}}</a></li>
        <li><a href="#">{{'CONTACT' | translate}}</a></li>
        <li>&nbsp;</li>
      </ul>
    </div>
  </div>
</nav>
