<nav class="navbar navbar-default navbar-fixed-top" ng-controller="menu">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Haira - Educatec</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{'SIGN_IN' | translate}}</a></li>
        <li><button href="#" class="btn btn-success" style="margin-top:.607em;">{{'SIGN_UP' | translate}}</button></li>
        <li>&nbsp;</li>
      </ul>
    </div> -->
  </div>
</nav>
