<div class="brand" style="margin-top:4em;margin-bottom:1em;text-align:center;border-bottom:1px solid lightgray;padding-top:1em;padding-bottom:1em;">
  <img style="" ng-src="/haira-educatec-project/brand.jpg" alt="" />
</div>

<!-- <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/White-Board.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/White-Board.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/White-Board.jpg" alt="">
        </div>
    </div>
</div> -->
