<nav class="navbar navbar-default navbar-fixed-top" ng-controller="menu">
  <div class="container" style="margin-right:18em;">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-hide="userLogged">
        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{'HOME' | translate}}</a></li>
        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{{'CONSULTING' | translate}}</a></li>
        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{{'PRODUCTS' | translate}}</a></li>
        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">{{'PARTNERS' | translate}}</a></li>
        <!-- <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">{{'CONTACT' | translate}}</a></li> -->
        <li>&nbsp;</li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="userLogged">
        <li><a href="#" ng-click="logout()">{{'LOGOUT' | translate}}</a></li>
      </ul>
    </div>
  </div>
</nav>
